
.parameter_value_display {
    width: 70px;
    max-width:70px;
    overflow:hidden;
}

.parameter_slider {
    color: #005500;
    background-color: #ccddcc;
    border-color: #46b8da;

}


.parameter_button_reset {
    color: #005500;
    background-color: #ccddcc;
    border-color: #46b8da;
    border: 2px solid transparent;
    border-radius: 5px;
    /*    font-weight: 400; */
    /*line-height: 2.42857143;*/
    line-height: 1.6;

    font-size: 16px;
}
.parameter_button_reset:hover {
    color: #00aa00;
}
.parameter_arange {
    border: 0px solid #c3c3c3;
    display: -webkit-flex;
    /* Safari */
    -webkit-flex-wrap: wrap;
    /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;

    justify-content: space-between;

}

